<!doctype html>
<html>
  <head>
    <title> Prediksi Gaya Belajar </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
  </head>
  <body>
      <div class="container">
        <div class="row my-5 pl-3">
            <h1>Prediksi Gaya Belajar</h1><br>
        </div>
        <!-- Starts form section -->
        <div class="form-container ">
            <form class="form-horizontal" action = "/predict/" method="post">
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q1">Q1:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="Q1" name="Q1">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q2">Q2:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q2" name="Q2">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q3">Q3:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q3" name="Q3">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q4">Q4:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q4" name="Q4">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q5">Q5:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q5" name="Q5">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q6">Q6:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="Q6" name="Q6">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q7">Q7:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q7" name="Q7">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q8">Q8:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q8" name="Q8">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q9">Q9:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q9" name="Q9">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q10">Q10:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q10" name="Q10">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q11">Q11:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="Q11" name="Q11">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q12">Q12:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q12" name="Q12">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q13">Q13:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q13" name="Q13">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q14">Q14:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q14" name="Q14">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="Q15">Q15:</label>
                  <div class="col-sm-4">          
                    <input type="text" class="form-control" id="Q15" name="Q15">
                  </div>
                </div>
                <div class="form-group row"> 
                <label class="control-label col-sm-2" for="">&nbsp;</label>                
                  <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Predict</button>
                  </div>
                </div>
              </form>
            <!-- Ends form section -->
        </div>
    </div>
  </body>
</html>